@model Exebite.DtoModels.CustomerAliasDto

@{
    ViewData["Title"] = "Details";
}

<h2>Customer aliases details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Alias)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Alias)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CustomerId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CustomerId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RestaurantId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RestaurantId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
