@model IEnumerable<Exebite.Model.Restaurant>
@{
    ViewBag.Title = "GoogleSS";
}
<div style="border:dashed 1px">
    <h5>Actions for jobs</h5>
    @Html.ActionLink("Write orders to Google Sheets", "WriteToSheets")<br />
    @Html.ActionLink("Load food and daily menu", "LoadFoodToDB")<br />
    @Html.ActionLink("Setup daily menu day order", "SetupDailyMenuDayOrder")<br />
    @Html.ActionLink("Update kasa tab", "UpdateKasa")<br />
    @Html.ActionLink("UpdateUsers", "ImportUsers")<br />
</div>
<div>
    @foreach (var rest in Model)
    {
        <table border="1">
            <thead>
                <h4>@rest.Name</h4>
            </thead>

            @foreach (var food in rest.DailyMenu)
            {
                <tr>
                    <td>
                        @food.Name - @food.Price rsd
                    </td>
                    <td>
                        @Html.ActionLink("Naruci", "PlaceOrder", food)
                    </td>
                </tr>
            }

        </table>
    }

</div>
