@model Dictionary<string, GoogleSpreadsheetApi.Models.FoodSpreadsheet>
@{
    ViewBag.Title = "GoogleSS";
}

<h2>Restoran "Pod Lipom"</h2>

<div>
    @foreach (KeyValuePair<string, GoogleSpreadsheetApi.Models.FoodSpreadsheet> meal in Model)
    {
        if (meal.Value.Name != "")
        {
            <div style="border:dashed">
                Meal: @meal.Value.Name<br />
                Price: @meal.Value.Price<br />
                Date:@meal.Value.Date<br />
                Cell: @meal.Key<br />
                @if (meal.Value.IsOrderd == true)
                {
                    @Html.ActionLink("Cancel order", "CancelOrder", new { cell = meal.Key }, new { @style = "color:#FE0101;" });
                }
                else
                {
                    @Html.ActionLink("Place order", "PlaceOrder", new { cell = meal.Key }, new { @style = "color:#12FE01;" });
                }
            </div>
        }
    }
</div>
